# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:
salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
pd.DataFrame(salaries.isnull().mean() * 100, columns=['% missing values'])

                   % missing values
Name                       0.000000
Job Titles                 0.000000
Department                 0.000000
Full or Part-Time          0.000000
Salary or Hourly           0.000000
Typical Hours             75.824971
Annual Salary             24.175029
Hourly Rate               75.824971

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])

Salary or Hourly       Hourly  Salary
Department
ADMIN HEARNG                0      39
ANIMAL CONTRL              19      62
AVIATION                 1082     547
BOARD OF ELECTION           0     107
BOARD OF ETHICS             0       8
BUDGET & MGMT               2      44
BUILDINGS                   0     269
BUSINESS AFFAIRS            7     164
CITY CLERK                  0      84
CITY COUNCIL               64     347
COMMUNITY DEVELOPMENT       4     203
COPA                        0     116
CULTURAL AFFAIRS            7      58
DISABILITIES                0      28
DoIT                        0      99
FAMILY & SUPPORT          287     328
FINANCE                    44     516
FIRE                        2    4639
GENERAL SERVICES          765     215
HEALTH                      3     485
HUMAN RELATIONS             0      16
HUMAN RESOURCES             4      75
INSPECTOR GEN               0      87
LAW                        40     367
LICENSE APPL COMM           0       1
MAYOR'S OFFICE              8      77
OEMC                     1273     829
POLICE                     10   13404
POLICE BOARD                0       2
PROCUREMENT                 2      90
PUBLIC LIBRARY            299     716
STREETS & SAN            1862     336
TRANSPORTN                725     415
TREASURER                   0      22
WATER MGMNT              1513     366

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
pd.DataFrame(salaries['Department'].value_counts())

                       Department
POLICE                      13414
FIRE                         4641
STREETS & SAN                2198
OEMC                         2102
WATER MGMNT                  1879
AVIATION                     1629
TRANSPORTN                   1140
PUBLIC LIBRARY               1015
GENERAL SERVICES              980
FAMILY & SUPPORT              615
FINANCE                       560
HEALTH                        488
CITY COUNCIL                  411
LAW                           407
BUILDINGS                     269
COMMUNITY DEVELOPMENT         207
BUSINESS AFFAIRS              171
COPA                          116
BOARD OF ELECTION             107
DoIT                           99
PROCUREMENT                    92
INSPECTOR GEN                  87
MAYOR'S OFFICE                 85
CITY CLERK                     84
ANIMAL CONTRL                  81
HUMAN RESOURCES                79
CULTURAL AFFAIRS               65
BUDGET & MGMT                  46
ADMIN HEARNG                   39
DISABILITIES                   28
TREASURER                      22
HUMAN RELATIONS                16
BOARD OF ETHICS                 8
POLICE BOARD                    2
LICENSE APPL COMM               1

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# Your code here: 
from scipy.stats import ttest_1samp

In [10]:
#Null Hypothesis H0: mean(wage of all hourly workers) = $30/hr
#Alternative Hypothesis Ha: mean(wage of all hourly workers) != $30/hr

hourly_workers_wage = salaries[salaries['Salary or Hourly']=='Hourly']['Hourly Rate']

statistic, pvalue = ttest_1samp(hourly_workers_wage,30)

print('Statistic = {} \np-value = {}'.format(statistic, pvalue))

Statistic = 20.6198057854942
p-value = 4.3230240486229894e-92

In [9]:
alpha = 0.05

In [11]:
pvalue < alpha/2 # we are considering a 95% two sided confidence interval. So I'm dividing the 5% in both sides.

True

In [12]:
print('ttest_1samp stats: ', statistic)
print('p-value: ', pvalue)

if pvalue > alpha/2:
    print('Do not reject null hypothesis')
else:
    print('Reject null hypothesis')

ttest_1samp stats:  20.6198057854942
p-value:  4.3230240486229894e-92
Reject null hypothesis

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [13]:
salaries_police = salaries[(salaries['Department']=='POLICE')&(salaries['Salary or Hourly']=='Salary')]['Annual Salary']

statistic, pvalue = ttest_1samp(salaries_police,86000)

print('Statistic = {} \np-value = {}'.format(statistic, pvalue))

Statistic = 3.081997005712994
p-value = 0.0020603403550965137

In [15]:
print('ttest_1samp stats', statistic)
print('p-value: ', pvalue)

if pvalue < alpha:
    print("Null hypothesis rejected")
    
    if statistic < 0:
        print('The mean police force salary decreased this year.')
    else:
        print('The mean police force salary increased this year.')
else:
    print("We can't reject the null hypothesis")
    
    
# Obs: in this case we are conducing a one sided hypothesis test.

ttest_1samp stats 3.081997005712994
p-value:  0.0020603403550965137
Null hypothesis rejected
The mean police force salary increased this year.

Using the `crosstab` function, find the department that has the most hourly workers.

In [16]:
# Your code here:
pd.crosstab(salaries['Department'], salaries['Salary or Hourly']).sort_values(by='Hourly', ascending=False).head(1)

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [19]:
salaries_police = salaries[(salaries['Department']=='STREETS & SAN')&(salaries['Salary or Hourly']=='Hourly')]['Hourly Rate']

statistic, pvalue = ttest_1samp(salaries_police,35)

print('Statistic = {} \np-value = {}'.format(statistic, pvalue))

alpha = 0.05

if (pvalue < alpha)&(statistic < 0):
    print("\nNull hypothesis rejected. And indeed, seems that they have a point.")
else:
    print('\nBlah... bullshit')

Statistic = -9.567447887848152
p-value = 3.3378530564707717e-21

Null hypothesis rejected. And indeed, seems that they have a point.

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [24]:
from scipy.stats import t, sem

# Variables
conf_lvl = 0.95; #confidence level
deg_fr = len(hourly_workers_wage) - 1  #degree of freedom
mean = np.mean(hourly_workers_wage) # mean value of the hourly wage
sm = sem(hourly_workers_wage) #standard error of the hourly wage

# Confidence interval
Tmin, Tmax = t.interval(conf_lvl, df=deg_fr, loc=mean, scale=sm)

print("Upper value: {}, Lower value: {}, delta={}".format(Tmax, Tmin, Tmax-Tmin))

Upper value: 33.05365708767727, Lower value: 32.52345834488529, delta=0.5301987427919812

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [25]:
# Variables
conf_lvl = 0.95; #confidence level
deg_fr = len(salaries_police) - 1  #degree of freedom
mean = np.mean(salaries_police) # mean value of the hourly wage
sm = sem(salaries_police) #standard error of the hourly wage

# Confidence interval
Tmin, Tmax = t.interval(conf_lvl, df=deg_fr, loc=mean, scale=sm)

print("Upper value: {}, Lower value: {}, delta={}".format(Tmax, Tmin, Tmax-Tmin))

Upper value: 33.98904897848601, Lower value: 33.46770719766768, delta=0.5213417808183323

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [27]:
from statsmodels.stats.proportion import proportions_ztest

In [39]:
#count: integer or array_like
#the number of successes in nobs trials. If this is array_like, then the assumption is that this represents the number of successes for each independent sample

#nobs: integer or array-like
#the number of trials or observations, with the same length as count.

#valuefloat, array_like or None, optional
#This is the value of the null hypothesis equal to the proportion in the case of a one sample test. In the case of a two-sample test, the null hypothesis is that prop[0] - prop[1] = value, where prop is the proportion in the two samples. If not provided value = 0 and the null is prop[0] = prop[1]

# stat, pvalue = proportions_ztest(count=hourly_workers_Chicago, nobs=len(hourly_workers_Chicago), value=0.25)


hourly_workers_Chicago = salaries['Salary or Hourly'].value_counts()['Hourly']

workers_Chicago = salaries['Salary or Hourly'].value_counts().sum()

print(hourly_workers_Chicago, workers_Chicago)

8022 33183

In [41]:
stat, pvalue = proportions_ztest(count=hourly_workers_Chicago, nobs=workers_Chicago, value=0.25)

In [42]:
print('Statistic = {} \np-value = {}'.format(stat, pvalue))

Statistic = -3.5099964213703005
p-value = 0.0004481127249057967

In [44]:
if pvalue < 0.05/2: #significance in the case of a two sided confidence interval.
    print('null hypothesis rejected: then, their salary is significantly different from 25%')
else:
    print('we cannot reject the null hypothesis: then, their salary is significantly similar from 25%')

null hypothesis rejected: then, their salary is significantly different from 25%