# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [2]:
# importing libraries
import numpy as np
import pandas as pd

# Challenge 1 - Iterators, Generators and `yield`. 

A iterator in Python is an object that represents a stream of data. However, iterators contain a countable number of values. We traverse through the iterator and return one value at a time. All iterators support a `next` function that allows us to traverse through the iterator. We can create an iterator using the `iter` function that comes with the base package of Python. Below is an example of an iterator.

In [3]:
# We first define our iterator:

iterator = iter([1,2,3])

# We can now iterate through the object using the next function

print(next(iterator))

1

In [4]:
# We continue to iterate through the iterator.

print(next(iterator))

2

In [5]:
print(next(iterator))

3

In [6]:
# After we have iterated through all elements, we will get a StopIteration Error

print(next(iterator))

StopIteration:

In [7]:
# We can also iterate through an iterator using a for loop like this:
# Note: we cannot go back directly in an iterator once we have traversed through the elements. 
# This is why we are redefining the iterator below

iterator = iter([1,2,3])

for i in iterator:
    print(i)

1
2
3

In the cell below, write a function that takes an iterator and returns the first element in the iterator and returns the first element in the iterator that is divisible by 2. Assume that all iterators contain only numeric data. If we have not found a single element that is divisible by 2, return zero.

In [8]:
def divisible2(iterator):
    # This function takes an iterable and returns the first element that is divisible by 2 and zero otherwise
    # Input: Iterable
    # Output: Integer
    
    # Sample Input: iter([1,2,3])
    # Sample Output: 2
    
    # Your code here:
    
    not_found = 0
    for i in iterator:
        print(i)
        if i %2 == 0:
            not_found = 1
            return i
                
    if not_found == 0:
        return 0

In [9]:
iterator = iter([1,2,3])
divisible2(iterator)

1
2

2

### Generators

It is quite difficult to create your own iterator since you would have to implement a `next` function. Generators are functions that enable us to create iterators. The difference between a function and a generator is that instead of using `return`, we use `yield`. For example, below we have a function that returns an iterator containing the numbers 0 through n:

In [10]:
def firstn(n):
    number = 0
    while number < n:
        yield number
        number = number + 1

If we pass 5 to the function, we will see that we have a iterator containing the numbers 0 through 4.

In [11]:
iterator = firstn(5)

for i in iterator:
    print(i)

0
1
2
3
4

In the cell below, create a generator that takes a number and returns an iterator containing all even numbers between 0 and the number you passed to the generator.

In [12]:
def even_iterator(n):
    # This function produces an iterator containing all even numbers between 0 and n
    # Input: integer
    # Output: iterator
    
    # Sample Input: 5
    # Sample Output: iter([0, 2, 4])
    
    # Your code here:
    
    number = 0
    
    if n%2 == 0:
        while number <= n:
            yield number
            number += 2
    else:
        while number < n:
            yield number
            number += 2

In [13]:
iterator = even_iterator(10)

for i in iterator:
    print(i)
    
    
print("--------------------")

iterator = even_iterator(7)

for i in iterator:
    print(i)

0
2
4
6
8
10
--------------------
0
2
4
6

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [14]:
# note the data is storaged in a website, not localy 
file_path = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

In [15]:
columns = ['sepal_length', 'sepal_width', 'petal_length',
           'petal_width','iris_type']

In [16]:
# import the iris object using the read_csv function from pandas
iris_df = pd.read_csv(file_path)

In [17]:
# checking the type of iris
type(iris_df)

pandas.core.frame.DataFrame

In [18]:
# after importing data using pd.read_csv, it returns a pandas object

In [19]:
iris_df.columns = columns

Let's look at the dataset using the `head` function.

In [20]:
# Your code here:
iris_df.head(10)

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa
5           4.6          3.4           1.4          0.3  Iris-setosa
6           5.0          3.4           1.5          0.2  Iris-setosa
7           4.4          2.9           1.4          0.2  Iris-setosa
8           4.9          3.1           1.5          0.1  Iris-setosa
9           5.4          3.7           1.5          0.2  Iris-setosa

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [21]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    return x/0.393701

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [22]:
iris_inch = iris_df._get_numeric_data().apply(cm_to_in)

In [23]:
iris_inch.head()

   sepal_length  sepal_width  petal_length  petal_width
0     12.445993     7.619996      3.555998     0.508000
1     11.937994     8.127996      3.301998     0.508000
2     11.683994     7.873996      3.809998     0.508000
3     12.699993     9.143995      3.555998     0.508000
4     13.715993     9.905995      4.317998     1.015999

In [24]:
# Define constant below:

BATMAN = 5 # =p

def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    return x + BATMAN

## What is a generator?

### df.iterrows()
### df.iteritems()
### df.itertuples()

* https://medium.com/@rtjeannier/pandas-101-cont-9d061cb73bfc
* https://stackoverflow.com/questions/7837722/what-is-the-most-efficient-way-to-loop-through-dataframes-with-pandas
* https://engineering.upside.com/a-beginners-guide-to-optimizing-pandas-code-for-speed-c09ef2c6a4d6
* https://realpython.com/fast-flexible-pandas/
* https://towardsdatascience.com/different-ways-to-iterate-over-rows-in-a-pandas-dataframe-performance-comparison-dc0d5dcef8fe
* https://towardsdatascience.com/how-to-use-pandas-the-right-way-to-speed-up-your-code-4a19bd89926d
* https://data36.com/python-for-loops-explained-data-science-basics-5/

# Challenge 3 - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [25]:
# Your code here:
iris_df._get_numeric_data().apply(max)

sepal_length    7.9
sepal_width     4.4
petal_length    6.9
petal_width     2.5
dtype: float64

In [26]:
iris_df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'iris_type'],
      dtype='object')

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [27]:
# Your code here:
iris_df['total_width'] = iris_df['sepal_width'] + iris_df['petal_width']
iris_df['total_length'] = iris_df['sepal_length'] + iris_df['petal_length']

In [28]:
iris_df.head()

,sepal_length,sepal_width,petal_length,petal_width,iris_type,total_width,total_length
0,4.9,3.0,1.4,0.2,Iris-setosa,3.2,6.3
1,4.7,3.2,1.3,0.2,Iris-setosa,3.4,6.0
2,4.6,3.1,1.5,0.2,Iris-setosa,3.3,6.1
3,5.0,3.6,1.4,0.2,Iris-setosa,3.8,6.4
4,5.4,3.9,1.7,0.4,Iris-setosa,4.3,7.1